*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
}

.cabeçalho{
    background-color: #546f9e;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
}

.cabeçalho-imagem{
 width: 12%;
}
.cabeçalho-lista-item{
    display: inline-block; 
    margin: 0 20px;
    font-size: 25px ;


}
.escola-imagem{
   width: 25%; 
}
.escola{
    background-image: linear-gradient(#546f9e,#98b7ec);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
.escola-div-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;
}
.imagem-estudante{
    width: 120px;
}
.logo{
    width: 22px;
    padding: 5px;
    align-items: center;
}
.estudante-div{
    text-align: center;
}